---
import { PortableText } from 'astro-portabletext'
const { content, language } = Astro.props
import { FileText, BookOpen } from '@lucide/astro'
---

<article x-data={`{ code: '${language.code}' }`}>
  <div :class="!$store.global.langs.includes(code) && 'hidden'">
    <div
      class="flex flex-col gap-6 rounded-xl border-muted border h-full max-w-xl bg-white p-6"
    >
      <header>
        <div class="flex items-center justify-between">
          <h3 class="text-xl text-gray-900 capitalize">{language.name}</h3>
          <div set:html={language.flag} class="w-5 h-4" />
        </div>
      </header>

      <!-- Designation -->
      <section>
        <h4 class="text-xs text-gray-500 uppercase tracking-wide mb-3">
          Begriff
        </h4>
        <p class="text-2xl text-gray-900 leading-tight">
          {content.terms[0].designation}
        </p>
      </section>

      <hr class="my-6 border-muted border" />

      <!-- Definition -->
      <section class="py-5">
        <h4 class="text-xs text-gray-500 uppercase tracking-wide mb-3">
          Definition
        </h4>
        <div class="text-gray-800 leading-relaxed">
          <PortableText value={content?.definition} />
        </div>
      </section>

      <!-- Notes -->
      {
        content.note && (
            <hr class="my-6" />
            <div class="py-5">
              <div class="flex items-center gap-2 mb-3">
                <FileText class="h-4 w-4 text-gray-600" />
                <h4 class="text-xs text-gray-500 uppercase tracking-wide">
                  Anmerkungen
                </h4>
              </div>
              <div class="text-gray-800 leading-relaxed portabletext">
                <PortableText value={content.note} />
              </div>
            </div>
        )
      }

      <!-- Examples -->
      {
        content.examples && (
            <hr class="my-6" />
            <div class="py-5">
              <div class="flex items-center gap-2 mb-3">
                <BookOpen class="h-4 w-4 text-gray-600" />
                <h4 class="text-xs text-gray-500 uppercase tracking-wide">
                  Beispiele
                </h4>
              </div>
              <div class="text-gray-800 leading-relaxed portabletext">
                <PortableText value={content.examples} />
              </div>
            </div>
        )
      }
    </div>
  </div>
</article>
